@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  color: white;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 75px 0;
  background-color: #0f0f0f;
}

.content {
  width: 600px;
  display: block;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
}

.button {
  display: block;
  width: 100%;
  padding: 40px;
  background-color: #ffa500;
  cursor: pointer;
}

a.option {
  padding: 20px;
  margin: 20px 50px;
  display: block;
  cursor: pointer;
  border: 1px solid #ffa500;
}

label > input,
label > span {
  display: none;
}

label > input[type="radio"]:checked ~ a {
  background-color: #ffa500;
}

.point-area {
  display: flex;
  flex-direction: column;
}

.point-title {
  font-size: 24px;
}

.point {
  font-size: 72px;
  color: #ffa500;
  margin: 20px;
}

.point span {
  color: #ffa500;
  font-size: 48px;
}
